.navbar .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    z-index: 1;
}

.navbar {
    opacity:0.5;
    z-index: 2;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
    font-weight: bold;
}

.NAVBAR {
    font-size: 36px;
}

.carousel-item {
    height:700px;
}

.carousel-image-1 {
    background: url('../img/image3.jpg');
    background-size: cover;
    background-position: start center;
}

.carousel-image-2 {
    background: url('../img/image2.png');
    background-size: cover;
    background-position: center center;
}

.carousel-image-3 {
    background: url('../img/image1.jpg');
    background-size: cover;
    background-position: center center;
}

.drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    z-index: 1;
  }
  
  .carousel-caption {
    z-index: 2;
  }

  .footer {
      height: 70px;
  }
